<div class="modal">
    <div class="modal__content">
        <button class="modal__close">
            <img src="assets/images/cancel.svg" alt="">
        </button>

        <ul class="social">
                <li class="social__item">
                    <a href="" class="social__link" href="3">
                        <img src="assets/images/share/facebook.svg" alt="">
                    </a>
                </li>

                <li class="social__item">
                    <a href="" class="social__link" href="#">
                        <img src="assets/images/share/twitter.svg" alt="">
                    </a>
                </li>

                <li class="social__item">
                    <a href="" class="social__link" href="#">
                        <img src="assets/images/share/vk2.svg" alt="">
                    </a>
                </li>

                <li class="social__item">
                    <a href="" class="social__link" href="#">
                        <img src="assets/images/share/copy.svg" alt="">
                    </a>
                </li>
            </ul>

    </div>
</div>
